$bg-nav-color-mint: #2ab17fa0;
$bg-color-mint: #136748c4;

.App {
  text-align: center;
}

.card-title {
  background-color: $bg-color-mint;
  color: #fff;
  border: .2rem solid #000;
}

.nav-pills a.nav-link.active {
  background-color: $bg-nav-color-mint;
  border: .2rem solid #fff;
  color: #fff;
}

button.accordion-button {
  background-color: #c5d6d2;
  color: #000;
  border: .2rem solid #000;
}

button.accordion-button:not(.collapsed) {
  background-color: $bg-color-mint;
  color: #fff;
}

button.accordion-button:active {
  background-color: black;
  color: #fff;
}

.accordion-button:not(.collapsed)::before {
  color: #000;
}