$bg-color-navy: #3a3a7c;
$bg-blend: linear-gradient(#f4b8b8, #3a3a7c, #548e54);
$bg-radial-blend: radial-gradient( #fff, 7%, #000 );


html, body, #root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
 }

body {
  background-image: $bg-blend;
}

footer {
  margin-top: auto;
}

.App {
  text-align: center;
}

.nav-pills a.nav-link.active {
  background-color: $bg-color-navy;
  border: .2rem solid #fff;
  color: #fff;
}

button.accordion-button {
  background-color: lightgrey;
  font-size: large;
  font-weight: 300;
}

button.accordion-button:not(.collapsed) {
  background-image: $bg-blend;
  color: #fff;
}

button.accordion-button:active {
  background-color: black;
  color: #fff;
}

.accordion-button:not(.collapsed)::before {
  color: #000;
}